div#main
	ul.cbp_tmtimeline
		each item in site.posts.data
			li
				time.cbp_tmtime(datetime = item.date.format('YYYY-MM-DD hh:mm'))
					span 4/10/13
					span 18:30
				div(class = "cbp_tmicon cbp_tmicon-phone")
				div(class = "cbp_tmlabel")
					h2 Ricebean black-eyed pea
					p.
						Winter purslane courgette pumpkin quandong komatsuna fennel green bean cucumber
						watercress. Pea sprouts wattle seed rutabaga okra yarrow cress avocado grape radish
						bush tomato ricebean black-eyed pea maize eggplant. Cabbage lentil cucumber chickpea
						sorrel gram garbanzo plantain lotus root bok choy squash cress potato summer purslane
						salsify fennel horseradish dulse. Winter purslane garbanzo artichoke broccoli lentil
						corn okra silver beet celery quandong. Plantain salad beetroot bunya nuts black-eyed
						pea collard greens radish water spinach gourd chicory prairie turnip avocado sierra
						leone bologi.