div#main
	ul.cbp_tmtimeline
		- var list = site.posts.sort("date","desc")
		each item in list.data
			li
				time.cbp_tmtime(datetime = item.date.format("YYYY-MM-DD hh:mm"))
					span= item.date.format("YY/MM/DD")
					span= item.date.format("hh:mm")
				div(class = "cbp_tmicon cbp_tmicon-phone")
				div(class = "cbp_tmlabel")
					h2
						a(href = item.canonical_path)!= item.title
					p!= item.content